*{
    margin: 10px;
    padding: 10px;
}

body{
    background-image:url(pngtree-creative-business-portfolio-picture-image_1447440.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    font-family:monospace;
}

.topnav{
    background-color:#474e5d;
    overflow: hidden;
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
    padding-inline-start: 0%;
}

.topnav h2{
    font-family:monospace;
}

.topnav a{
    float:right;
    color:bisque;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    font-family:monospace;
    font-size: 20px;

}

.topnav a:hover{
    background-color:bisque;
    color: black;
}

.topnava img{
    border-radius: 10%;
    height: 200px;
    width: 600px;
}


.portimg img{
    border-radius: 20%;
    height: 140px;
    width: 140px;
}

.button{
    background-color: #474e5d;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:medium;
    color: aliceblue; 
    cursor: pointer;
}

.abc footer{
    text-align:right;
    color:black;
}